.tableControls {
  margin: 150px auto 50px auto;
  width: 90vw;
}

.stop {
  background-color: #d32f2f;
  color: white;
  margin: 10px;
}

.assign {
  margin: 0 10px;
  background: #00796b;
  color: white;
}

input {
  padding: 10px;
}
